@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html, body {
  background-color: #1262e3;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.QuoteGenerator {
  border: 4px solid black;
  border-radius: 2px;
  background-color: #5b99fc;
  width: 60%;
  max-width: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.quote-space {
  font-size: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

.quote {
  height: 150px;
  overflow-y: auto;
}

.author {
  margin-bottom: 100px;
}

.generateBtn {
  height: 50px;
  width: 200px;
  font-size: 22px;
  font-weight: lighter;
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #1262e3;
}
